a{
    text-decoration: underline;
    color: #050505;
}

body{
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: auto;
}

ul{
    list-style-type: square;
}

#title, .subtitle, .post_title{
    color: #050505;
}

.subtitle{
    text-transform: uppercase;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    color: red;
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.photo{
    border: 3px solid #050505 ;
    border-radius: 50px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #050505;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.contact_list{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}